# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environments
# =========================

env/
venv/
.venv/

# =========================
# Environment Variables
# =========================

.env
*.env

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Database
# =========================

db.sqlite3
*.sqlite3

# =========================
# Django
# =========================

staticfiles/

# =========================
# User Uploaded Media
# =========================

media/

# =========================
# React / Node
# =========================

node_modules/

# Production build
dist/

# =========================
# Logs
# =========================

*.log

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db